.div {
  background-image: none;
  opacity: 0.2;
  justify-content: space-between;
  background-color: rgba(161, 162, 163, 0.746)
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction:;
  font-size:;
}
